.file{
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
}


input[name="documento"] {
  width: 50%;
}
input{
  /*width: 80px !important;*/
}