.minav
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1C3D6C;
    border-color: #36537C;
    border-radius: 4px;
    color: #fff;
}

.navbar-nav > li > a{
    color: #fff;
}

.paginate_button:hover {
   background-color: #1C3C6B;
}

.original{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin: 0px;
    text-align: center;
}


.btn-login{
    background-color: #1C3D6C;
    font-size: 20px;    
}

.login-logo, .register-logo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    background-color: #1C3D6C;
}
.login-logo a,
.register-logo a {
  color: #fff;
}
.login-page,
.register-page {
  background: #d2d6de;
}
.login-box,
.register-box {
  width: 540px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}