/*Estilos para subir*/
.documentos{
	margin-right: auto;
    text-align: center;
    height: 100%;
}
.subir{
	border: 3px;
	border-color: rgba(128, 128, 128, 0.44);
	border-style: dashed;
}
.fa-5x {
    font-size: 15em;
    color: gray;
}
/*Estilos para la tabla*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 20px;
    border-top: 0;
}
.name{
	width: 80%;
}
a.btn-success{
    float: right;
}
.success{
	color: #5cb85c;
}
.oculto{
	display: none;
}
.cancel{
	color: #F44336;
}