
#login[class*="panel-primary"] {
	margin: 50px auto;
	border-radius: 20px 20px 20px 20px;
	border: 1px #C5911F solid;
}

#login .panel-heading {
	/*background-color: #1C3D6C;*/
	background-color: #C5911F;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

